---
project_user: vagrant

devbox_projects:
  - name: demo
    root: pub/
    environment: devbox
    server_alias: dev2.local
    databases: ['dev2_local', 'dev3_local']
    #remove: true

  - name: demo2
    environment: devbox
    server_alias: devbox2.local
    databases: ['devbox2']
    remove: true

  - name: magento2demo
    type: magento2
    environment: devbox
    server_alias: magento2demo.local
    databases: ['magento2demo']
    awscli:
      - profilename: 'magento2demo'
        aws_access_key_id: 'XXXXXXXXXX'
        aws_secret_access_key: 'XXXXXXXXXXXXXXXXXX'
        region: 'eu-central-1'

  - name: demo_project
    type: magento
    environment: devbox
    server_alias: demo_project.local
    databases: ['demo_project']
    deploy_scripts: 'git@bitbucket.org:ambimax/magento-deployscripts.git'
    awscli:
      - profilename: 'demo_project'
        aws_access_key_id: 'XXXXXXXXXX'
        aws_secret_access_key: 'XXXXXXXXXXXXXXXXXXXX'
        region: 'eu-central-1'
    motd: |
      Demo Project
      ====
      Update systemstorage
      aws --profile demo_project s3 cp --recursive s3://bucket/demo_project/backup/production /home/projectstorage/demo_project/backup/production

      Install
      /home/projectstorage/demo_project/bin/deploy/deploy.sh -d -e devbox -a demo_project -r s3://bucket/demo_project/builds/demo_project.de.tar.gz -t /var/www/demo_project/devbox
