.idea
.vagrant
ansible/playbook.retry
ansible/group_vars/devbox/project.yml

ansible/roles/devbox/tasks/project-old
ansible/roles/ansible-role-motd
ansible/all.yml
ansible/webserver.yml
ansible/vars
ansible/templates
ansible/group_vars/devbox/nginx.yml
ansible/roles/devbox/templates/motd